.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  border-radius: 15px;
  background-color: aqua;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.name-wrapper {
  display: block;
  width: 100%;
}
